{% extends 'base.html.twig' %}

{% block title %}ProjectGroup index{% endblock %}

{% block body %}
    {{ include('_nav.html.twig') }}
    <h1>ProjectGroup index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project_group in project_groups %}
            <tr>
                <td>{{ project_group.id }}</td>
                <td>{{ project_group.name }}</td>
                <td>{{ project_group.createdAt ? project_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project_group.updatedAt ? project_group.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('project_group.show', {'id': project_group.id}) }}">show</a>
                    <a href="{{ path('project_group.edit', {'id': project_group.id}) }}">edit</a>
                    {{ include('project_group/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_group.new') }}">Create new</a>
{% endblock %}